{% extends 'base.html' %}
{% import '_macro.html' as inp %}

{% block content %}
    {% block header %}
{% set links=[
    ('Home', url_for('main.index')),
    ('About', url_for('main.about')),
    ('Service', url_for('main.service')),
    ('Project', url_for('main.project'))
] %}
<nav>
    {% for label,href in links %}
        {% if not loop.first %} | {% endif %}
        {% if link is current_link %}
            <a href="#">{{ label }}</a>
        {% else %}
            <a href="{{ href }}">{{ label }}</a>
        {% endif %}
    {% endfor %}
</nav>
{% endblock %}
    {{ inp.input('username') }}
    {{ inp.input('password',type='password') }}
{% endblock %}